
.left-side{
    width: 50%;
    background-color: #242526;
    height: 90px;
    float: left;
    
}
.right-side{
    width: 50%;
    background-color:#242526;
    float: left;
    height: 90px;
}
.para1{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    padding-left: 30%;padding-top: 15px; 
}
.country{
    color: aliceblue; 
    background-color: #3a3b3c;
    block-size: 35px;
    border-radius: 8px;
    width: 350px;
    margin-top: 25px;
    margin-left: 50px;
    border-style: hidden ;
    padding-left: 20px;
    font-size: medium;
    
}
button{
    border-radius: 8px;
    block-size: 35px;
    width: 100px;
    font-size: medium;
    border-style: hidden;
    margin-left: 11px;
}
.second-div{
    background-color: #121112;
    width: 100%;
    height: 55px;
    float: left;

}
.image-class{
    width: 50px;
    height: 50px;
    padding-top: 5px; padding-left: 200px;
    float: left;
}
.para2{
    color: aliceblue;
    font-family: sans-serif;
    margin-left: 300px;
    font-size: small;
    margin-top: 20px;
}
.third-div{
    background-color: black;
    width: 100%;
    height: 55px;
    padding-top: 20px;
    padding-left: 600px;
}
a[href]{
    font-size: x-large;
    color:#659BDF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: aquamarine;
}
*{

}